body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://images3.alphacoders.com/942/942720.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 40px;
    border-radius: 15px;
    text-align: center;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 350px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    display: block;
    margin-top: 15px;
    text-align: left;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}

button {
    margin-top: 20px;
    background-color: #ff4747;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: #ff4747;
}

.autorizado {
    margin-top: 20px;
    color: #adff2f;
}

.negado {
    margin-top: 20px;
    color: blueviolet;
    font-weight: bold;
}

.ok {
    color: #32cd32;
    font-weight: bold;
}